-r requirements.txt
homeassistant==2026.1.2
# git+https://github.com/home-assistant/core.git@2026.1.2#egg=homeassistant
# Matches manifest.json runtime pins
git+https://github.com/KaSroka/Toshiba-AC-control@v0.3.13#egg=toshiba-ac
pre-commit
